body{
    margin: 24px 160px 48px 160px;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}
/* navber style */
#navber{
    width: 1600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navber-title{
    font-size: 32px;
    font-weight: bold;
}
.primary-btn{
    width: 116px;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    background-color: white;
}
.primary-btn:hover{
    cursor: pointer;
    color: orange;
}
/* banner style */
.banner{
    background-color: #C6E4D6;
    border: 1px solid #C6E4D6;
    border-radius: 24px;
    width: 1600px;
    height: 746px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-container{
    margin-left: 100px;
    width: 830px;
    height: 326px;
}
.banner-container-img{
    width: 474px;
    height: 400px;
    margin-right: 100px;
}
.banner-sm-title{
    font-size: 24px;
    font-weight: 600;
    color: #0e0e0e7c;


}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.btn-secondary{
    color: white;
    padding: 8px 16px;
    width: 280px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    border: 1px #006A50;
    border-radius: 8px;
    background-color: #006A50;
}
.btn-secondary:hover{
    cursor: pointer;
    color: orange;
}
/* Pillar section style */

.pillar{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
}

.pillar-section{
    display: flex;
    justify-content:space-between;
    margin-top: 42px;
}

.pillar-section-container{
    width: auto;
    height: auto;
    padding: 32px;
    border: 0.5px solid rgba(0, 0, 0, 0.199);
    border-radius: 16px;
    background-color: #FFFFFF;
}
.pillar-container-title{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0ec5;
}
.pillar-container-description{
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0ea4;
}
/* Vision section style */
.vision-section{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    gap: 32px;
}
.vision-section-container1{
    border: 1px solid #548ff534;
    padding: 32px;
    border-radius: 16px;
    background: #548ff534;
}
.vision-btn1{
    color: #FFFFFF;
    border: 1px solid #5490F5;
    border-radius: 8px;
    background-color: #5490F5;
    font-size: 16;
    font-weight: 600;
    padding: 12px 24px;
    transition: 0.5s;
}
.vision-btn1:hover{
    cursor: pointer;
    color: orange;
}
.vision-section-container2{
    border: 1px solid #C6E4D6;
    padding: 32px;
    border-radius: 16px;
    background: #C6E4D6;
}
.vision-btn2{
    color: #FFFFFF;
    border: 1px solid #09A15C;
    border-radius: 8px;
    background-color: #09A15C;
    font-size: 16;
    font-weight: 600;
    padding: 12px 24px;
    transition: 0.5s;
}
.vision-btn2:hover{
    cursor: pointer;
    color: orange;
}
.vision-section-container3{
    border: 1px solid #F7EBCF;
    padding: 32px;
    border-radius: 16px;
    background-color: #F7EBCF;
}
.vision-btn3{
    color: #FFFFFF;
    border: 1px solid #FFC239;
    border-radius: 8px;
    background-color: #FFC239;
    font-size: 16;
    font-weight: 600;
    padding: 12px 24px;
    transition: 0.5s;
}

.vision-btn3:hover{
    cursor: pointer;
    color:rgb(255, 81, 0);
}
/* Challenge section style */
.yunus-section{
    margin-top: 48px;
    border: 0.5px solid #0e0e0e42;
    border-radius: 16px;
    padding: 24px;
}
.doctor{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top-left;
}

.name{
    margin-bottom: 0;
}
/* Your Opinion Matters style */
.your-opinion{
    margin-top: 24px;
    border: 0.5px solid rgba(0, 0, 0, 0.192);
    padding: 32px;
    border-radius: 16px;
}

table{
    border-collapse: collapse;
    width: 1520px;
    text-align: center;
}
thead{
    background-color: #C6E4D6;
}
tr{
    font-weight: bold;
}
td{ 
    text-align: left;
    padding: 24px 46px;
    border: 1px solid black;
}
.btn-opinion{
    border: 1px solid #C6E4D6;
    width: 202px;
    font-size: 18px;
    padding: 24px;
    background-color: #C6E4D6;
}
/* news-section style */
.news-section{
    margin-bottom: 24px;
    padding: 48px 48px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.satelite{
    border: 0.5px solid rgba(0, 0, 0, 0.158);
    border-radius: 24px;
}
.news-btn{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 0.5px solid #006A50;
    color: white;
    padding: 13px 26px;
    background-color: #006A50;
    transition: 0.5s;
}
.news-btn:hover{
    cursor: pointer;
    color: orange;
}
.news-title{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #0e0e0ec2;
}
.ig-satelite{
    margin-bottom: 10px;
}
.news-dt{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #0e0e0eb2;
}
.news-description{
    margin-bottom: 28px;
    color: #0e0e0eb4;
}
/* Donate Today */
.card-model{
    display: flex;
    justify-content: space-around;

}
.box1{
    margin-top: 32px;
    padding: 15px 50px;
    border: 1px solid black;
    border-radius: 16px;
    width: auto;
    height: 128px;
    text-align: center;
}
.card{
    font-size: 42px;
    font-weight: bold;
    color: #0e0e0ec4;
}
.amount{
    margin-top: 32px;
    text-align: center;
}
.input-amount{
    font-size: 20px;
    text-align: center;
    height: 86px;
    width: 1376px;
}
.done-btn{
    margin-top: 32px;
    text-align: center;
}
/* subscribe section */
.subscribe-section{
    margin-top: 64px;
    height: 450px;
    border-radius: 24px;
    background-color: #C6E4D6;
    border: 1px solid #C6E4D6;
    text-align: center;
}
.email-box{
    padding: 0 40px 0 40px;
    font-size: 18px;
    margin: 24px 0 18px 0;
    border-radius: 8px;
    border: 0.5px solid white;
    text-align: left;
    width: 800px;
    height: 45px;
}